<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="/generated/greeting.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    @import('Greeting', './Greeting')
    @import('Loading', './Loading')
    @import('Info', './Info')
  </head>
  <body>
    <div class="container mt-5">
      @render(<Greeting name="{{ name }}" />)
      <hr/>
      @render(<Loading />)
      @render(<Info />)
    </div>
  </body>
</html>
